[user]
    name = Zhovtenko Oleksii
    email = zhowtenko.oleksiy@gmail.com
    signingkey = C:\\Users\\Zhowt\\.ssh\\id_ed25519

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = D:\\rd_cryptography_hw\\allowed_signers