[user]
    name = Zhovtenko Oleksii
    email = zhowtenko.oleksiy@gmail.com
    signingkey = C:\\Users\\Zhowt/.ssh/id_dsa

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = C:\\Users\\Zhowt/.ssh/id_dsa